<div class="blog-main-card d-flex">
    <article class="blog-sub">
        <div class="blog-content">
            <img src="../../assets/Images/{{image_Name}}" (click)="showProfile()">
        </div>
        <div class="blog-content-section">
            <div class="blo-content-title">
                <h4>Course Name : {{course_Name}}</h4>
                
            </div>
            <div class="blog-admin">
                <ol>
                    <li><i class="fal fa-user-tie">Course Id :</i>{{course_Id}}</li>
                    <li><i class="fal fa-calendar-alt">Category Id:</i>{{category_Id}}</li>
                </ol>
            </div>
        </div>
    </article>
</div>